{% extends  "base.html" %}

{% load static %}
{% block title %}
		
		    Categories | Acheampong Inc.
		{% endblock  %}



{% block content %}
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->
            {% if user.is_authenticated %}
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href=""><i class="fa fa-search"></i></a></li>
                    <li class="side-menu">
                        <a href="#">
                            <i class="fa fa-shopping-bag"></i>
                            <span class="badge">3</span>
                            <p>My Cart</p>
                        </a>
                    </li>
                    <li class="side-menu">
                        <a href=" {% url 'logout' %} ">
                            <i class="fas fa-sign-out-alt">Sign Out</i>
                        </a>
                    </li>
            {% else %}
            <li class="side-menu">
                <a href=" {% url 'login' %} ">
                    <i class="fas fa-sign-in-alt">Login</i>
                </a>
            </li>

            {% endif %}
            
                    <li class="side-menu">
                        <a href=" # ">
                            <img src="{{ profile.photo.avatar.url }}" class="img-radius" alt="">
                            <i class="fas fa-facebook">{{ user.first_name }}</i>
                        </a>
                    </li>
                </ul>
            </div>
                <!-- End Atribute Navigation -->

            </div>

        {% if user.is_authenticated %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Blog</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item active">Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->



    
    <!-- Start Blog  -->
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Adding Categories</h1>
                        <p>You can Add a Category to your Post</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                
                <div class="col-md-12 col-lg-12 col-xl-12">
                    
                    <div class="blog-box">
                        
                        <div class="blog-content">
                            <div class="title-blog">
                                <form method="POST" >
                                    {% csrf_token %}
                                    {{ form.media }}
                                    {{ form.as_p }}
                                    <br>
                                    <br>
                                    <button class="btn hvr-hover">Add Category</button>
                                </form>
                                <hr>
                            </div>  
                        </div>
                        <div class="media-body text-center">
                            <a class="btn hvr-hover" href="{% url 'blog' %}">Return To Blog</a>
                        </div>

                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- End Blog  -->

    {% else %}
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>You are not login</h1>
                        <p>Please Login or Register</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    



    
        {% endblock  %}


