{% extends 'base.html' %}
{% load static %}
{% block title %}
		
		    Blog Acheampong Inc.
		{% endblock  %}


		{% block content%}

    
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Blog</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'blog' %}">Blog</a></li>
                        <li class="breadcrumb-item active">Category</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->



    {% if category_posts %}
    <!-- Start Blog  -->
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Latest Categories</h1>
                        <p>Latest {{ cats }} Categories Post</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                {% for post in category_posts %}
                <div class="col-md-6 col-lg-4 col-xl-4">
                    
                    <div class="blog-box">
                        <div class="blog-img">
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3><a href="{% url 'article-detail' post.pk %} ">{{ cats }}</a></h3>
                                
                                <h4><a href="#">Posted by: {{ post.author.first_name }} {{ post.author.last_name }}</a></h4>
                                <h6>{{ post.category }} - {{post.publication_date}}</h6>
                                <p>{{ post.content|slice:":100" }}</p>
                            </div>
                            {% if user.is_authenticated %}
                            <ul class="option-blog">
                                <li><a href="#"><i class="far fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#"><i class="far fa-comments"></i></a></li>
                                <li><a href=" {% url 'update_post' post.pk %} "><i class="far fa-edit"></i></a></li>
                                <li><a href=" {% url 'delete_post' post.pk %} "><i class="fas fa-trash"></i></a></li>
                            </ul>
                            {% endif%}
                        </div>
                        <br>
                        <div class="price-box-bar text-right">
                            <div class="cart-and-bay-btn">
                                <a class="btn hvr-hover" data-fancybox-close="" href=" {% url 'blog' %} ">Back To Blog</a>
                            </div>
                            <br>
                            
                        </div>
                    </div>
                </div>
                {% endfor%}

            
            </div>
            {% else %}
            <div class="latest-blog">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="title-all text-center">
                                <h1>We are Sorry</h1>
                                <p>This page does not exist</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif%}
        </div>
    </div>
</div>
    <!-- End Blog  -->




    
        {% endblock  %}


