{% extends 'base.html' %}
{% load static %}
{% block title %}
		
Product Acheampong Inc.
		{% endblock  %}


		{% block content%}

    
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Product</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item active">Product</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->



    
    <!-- Start Blog  -->
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Latest Product</h1>
                        <p>Our Latest Product</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                {% for product in object_list %}
                <div class="col-md-6 col-lg-4 col-xl-4">
                    
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{{ product.image_url }}" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3><a href="{% url 'product-detail' product.pk %}">{{ product.title }}</a></h3>
                                <h6><a href=""></a> - {{product.publication_date}}</h6>
                                <p>{{ product.discription|slice:":100"}}</p>
                            </div>
                            {% if user.is_authenticated %}
                            <br>
                            <br>
                            <ul class="option-blog">
                                
                                <br>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#"><i class="far fa-comments"></i></a></li>
                                {% if user.id == product.author.id %}
                                <li><a href=" {% url 'update_product' product.pk %} "><i class="far fa-edit"></i></a></li>
                                <li><a href=" {% url 'delete_product' product.pk %} "><i class="fas fa-trash"></i></a></li>
                                {% endif%}
                            </ul>
                            {% endif%}
                        </div>
                    </div>
                </div>
                {% endfor%}
            </div>
            {% if user.is_authenticated %}
            <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                    <a class="btn hvr-hover" data-fancybox-close="" href=" {% url 'new_product' %} ">Add Product</a>
                </div>
            </div>
            {% endif%}
        </div>
    </div>
</div>
    <!-- End Blog  -->




    
        {% endblock  %}


